{
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "spread": true
  },
  "rules": {
    "generator-star-spacing": [2, "before"],
    "no-var": 2,
    "object-shorthand": [2, "always"]
  }
}
